* {
    padding: 0;
    margin: 0;
}
*::selection {
    padding: 0;
    margin: 0;
}
body {
    scroll-behavior: smooth;
}
.homePage {
    background-color: #151515;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
.header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
}
.headerLeft,
.headerRight {
    width: 50%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.headerLeft {
    padding-left: 42px;
}
.logoGithub {
    height: 42px;
    margin-right: 18px;
    cursor: crosshair;
}
.logoInstagram {
    height: 35px;
    margin-right: 34px;
    cursor: crosshair;
}
.logoLinkedin {
    height: 35px;
    cursor: crosshair;
}
.headerRight {
    height: 80px;
    padding-left: 58px;
    padding-right: 55px;
    display: flex;
    flex-direction: row;
    gap: 45px;
    justify-content: right;
    align-items: center;
}
.headerRight div a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    cursor: crosshair;
}
.center {
   height: calc(100vh - 80px);
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 50px;
   padding-bottom: 18%;
}
.center a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.nomeHomePage {
    font-size: 70px;
    color: white;
}
.occupationDivHomePage {
    display: flex;
    flex-direction: row;
    width: auto;
}
.occupationDivHomePage .text {
    font-size: 65px;
    color: #464646;
}
.occupationDivHomePage .bar {
    font-size: 65px;
    color: #464646;
}
.text2 {
    font-size: 65px;
    color: #464646;
}
.scrollDownButton {
    cursor: crosshair;
    overflow: hidden;
    background-color: #464646;
    height: 50px;
    width: 180px;
    position: absolute;
    bottom: 70px;
    left: calc(50% - 90px);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scrollDownButton .text {
    z-index: 4;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #262626;
    transition: 1s;
}
.scrollDownButton .hover {
    position: absolute;
    height: calc(100% + 100px);
    left: -25px;
    transform: rotate(20deg);
    width: 15px;
    background-color: #262626;
    transition: 1s;
}
.scrollDownButton:hover > .hover {
    width: 250px;
}
.scrollDownButton:hover > .text {
    color: #ffffff;
}
.mountains {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.contentPage {
    background-color: #262626;
    height: 1080px;
    width: 100%;
    position: absolute;
    top: 100vh;
    left: 0;
}

/* ANIMATIONS */
@keyframes barBlink {
    30% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
}
